<div class='title'> UNBEATABLE TIC TAC TOE!</div>
<div>
	<li><%= @player_move%></li>

	<li><%= @player_moves%></li>
	<li>Your Board is <%= @size%> Long</li>
	<li> Your actual game is: <%=@fun_game%> </li>

	<%= form_tag("/interface", method: "post") do %>
	<div>Where do you want to put your X?</div>
	<%= hidden_field_tag(:size, @size) %>
	<%= hidden_field_tag(:player_moves, @player_moves) %>
	<%= hidden_field_tag(:fun_game, @fun_game) %>
	<%= text_field_tag(:player_move) %>
	<% end %>
	<div class='board'>
		<%if @player_moves %>
	<li class='square'><%if @player_moves.split("").include?("0")%>
		<%= "X"%>
		<% else %>
		<%= "0"%>
		<%end%></li>
		<li class='square'><%if @player_moves.split("").include?("1")%>
		<%= "X"%>
		<% else %>
		<%= "1"%>
		<%end%></li><li class='square'><%if @player_moves.split("").include?("2")%>
		<%= "X"%>
		<% else %>
		<%= "2"%>
		<%end%></li><li class='square'><%if @player_moves.split("").include?("3")%>
		<%= "X"%>
		<% else %>
		<%= "3"%>
		<%end%></li><li class='square'><%if @player_moves.split("").include?("4")%>
		<%= "X"%>
		<% else %>
		<%= "4"%>
		<%end%></li><li class='square'><%if @player_moves.split("").include?("5")%>
		<%= "X"%>
		<% else %>
		<%= "5"%>
		<%end%></li><li class='square'><%if @player_moves.split("").include?("6")%>
		<%= "X"%>
		<% else %>
		<%= "6"%>
		<%end%></li><li class='square'><%if @player_moves.split("").include?("7")%>
		<%= "X"%>
		<% else %>
		<%= "7"%>
		<%end%></li><li class='square'><%if @player_moves.split("").include?("8")%>
		<%= "X"%>
		<% else %>
		<%= "8"%>
		<%end%></li>
		<%end%>
	</li>

</div>
