<div class='title'> NCSA: UNBEATABLE TIC TAC TOE!</div>
<div>

	<% if @winner_message == 'none'%>

		<%= form_tag("/interface", method: "post") do %>
		<div>Where do you want to put your X?</div>
		<%= text_field_tag(:human_move) %>
		<%= hidden_field_tag(:size, @size) %>
		<div> Mapped board_grid </div>
		<%@length = @board_grid.length%>
		<%@axis_length = Math.sqrt(@length).to_i%>
		<%@board_view = (0..@length-1).to_a%>
		<%@board_view.each_slice(@axis_length) do |slice| %>
		<%=slice%><br>
		<%end%>
		<%= hidden_field_tag(:board_grid, @board_grid) %>
		<% end %>

	<% else %>
		<div class='message'><%= @winner_message%></div>
		<%= link_to "Play Another Game", @interface_path %>
	<% end %>

		<%if @length == 9 %>
		<%= render :partial => "interface/threeXthree", :locals => {:board_grid => @board_grid} %>
		<% end %>

		<%if @length == 16 %>
		<%= render :partial => "interface/fourXfour", :locals => {:board_grid => @board_grid} %>
		<% end %>

		<%if @length == 25 %>
		<%= render :partial => "interface/fiveXfive", :locals => {:board_grid => @board_grid} %>
		<% end %>



</div>
