<div class='title'> UNBEATABLE TIC TAC TOE!</div>
<div>
	<div><%= @winner_message%></div>

	<%= form_tag("/interface", method: "post") do %>
	<div>Where do you want to put your X?</div>
	<%= hidden_field_tag(:size, @size) %>
	mapped board_grid
	<%@length = @board_grid.length%>
	<%@axis_length = Math.sqrt(@length).to_i%>
	<%@board_view = (0..@length-1).to_a%>
	<%@board_view.each_slice(@axis_length) do |slice| %>
	<%=slice%>
	<%end%>
	<%= hidden_field_tag(:board_grid, @board_grid) %>
	<%= text_field_tag(:human_move) %>
	<% end %>


	<div class='board'>

		<li class='square'>
			<% @board_grid.split("").each do |elem|%>
			<ul class="cell"><%= elem %></ul>
			<% end %>
		</li>
	</div>

</div>
